.header-bg {
    background-image: url('../images/more/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
}

.title {
    font-family: 'Rancho';
}

.hero {
    background-image: url('../images/more/hero.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
}


/* Common Styles */
p {
    font-family: 'Poppins';
}